<p class="publicBdLanB pubicpage_fs16 publicPd_10_5">桥台基础信息
</p>

<!--
<div class="row publicPd_0_15_15">
    <div class="col-sm-4">
        <label>桥跨编号</label>
        <input type="text" class="form-control " ng-model="span.SpanNum">
    </div>
    <div class="col-sm-4">
        <label>桥跨跨长</label>
        <input type="text" class="form-control " ng-model="span.SpanLength">
    </div>
    <div class="col-sm-4">
        <label>桥跨宽度</label>
        <input type="text" class="form-control " ng-model="span.SpanWidth">
    </div>
    <div class="col-sm-4">
        <label>桥下净空</label>
        <input type="text" class="form-control " ng-model="span.Clearance">
    </div>
    <div class="col-sm-4">
        <label>分联编号</label>
        <input type="text" class="form-control " ng-model="span.ArticuleNum">
    </div>
    <div class="col-sm-4">
        <label>分联跨径组合</label>
        <input type="text" class="form-control " ng-model="span.SpanCombine">
    </div>
    <div class="col-sm-4 pull-right publicpage_mgT10"  ng-show="manageType">
        <button class="btn cancelBtn pull-right " ng-click="cancel()">取消</button>
        <button class="btn confirmBtn pull-right publicpage_mgR10" ng-click="ok()">保存</button>
    </div>
</div>-->
