<div class="modal-body wrapper-lg">
    <div>
        <h5 class="m-t-none m-b font-thin">{{title}}</h5>
        <form role="form" class="bs-example form-horizontal ng-pristine ng-valid">

                <div class="form-group">
                        <label class="control-label col-sm-3">选择:</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="addData.type">
                                <option value="" hidden>--请选择--</option>
                                <option value="0">分组</option>
                                <option value="1">病害</option>
                            </select>
                        </div>
                    </div>
            <div class="form-group">
                <label class="control-label col-sm-3">病害名称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="addData.disease_name">
                </div>

            </div>

            <div class="form-group" ng-show="addData.type == '1'">
                <label class="control-label col-sm-3">单位</label>
                <div class="col-sm-8">
                    <input ng-model="addData.unit" class="form-control " >
                </div>

            </div>

            <div class="form-group" ng-show="addData.type == '1'">
                <label class="control-label col-sm-3">材质</label>
                <div class="col-sm-8">
                    <input ng-model="addData.material" class=" form-control "  >
                </div>

            </div>

            <div class="form-group" ng-show="addData.type == '1'">
                <label class="control-label col-sm-3">解决方法提示</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="" ng-model="addData.Solution_Tips"  >

                </div>

            </div>

            <div class="form-group" ng-show="addData.type == '1'">
                <label class="control-label col-sm-3">板厚</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="" ng-model="addData.Plate_thickness"  >

                </div>

            </div>


            <div class="form-group" ng-show="addData.type == '1'">
                <label class="control-label col-sm-3">所属结构</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="addData.classification" >
                        <option value="" hidden>--请选择--</option>
                        <option value="0">车行道</option>
                        <option value="1">人行道</option>
                        <option value="2">结构</option>
                        <option value="3">附属设施</option>
                    </select>
                </div>
            </div>


            <div class=" form-group" style="height:30px;">
                <button class="btn btn-default pull-right " ng-click="cancel()">取消</button>
                <button class="btn btn-primary pull-right publicpage_mgR10" ng-click="savePrice()">保存</button>
            </div>
        </form>
    </div>
</div>
