<div class="panel-body">
    <form class="bs-example form-horizontal ng-pristine ng-valid">
        <div class="form-group">
            <label class="col-lg-2 control-label">构件类型</label>
            <div class="col-lg-8">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">构件名称:
            </label>
            <div class="col-lg-8">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">损害类型</label>
            <div class="col-lg-8">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">病害位置</label>
            <div class="col-lg-8">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">病害描述</label>
            <div class="col-lg-8">
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-default pull-right " ng-click="cancel()">重置</button>
                <button class="btn btn-primary pull-right publicpage_mgR10" ng-click="ok()">保存</button>
            </div>
        </div>
    </form>
</div>