<div class="modal-body wrapper-lg">
    <div>
        <h3 class="m-t-none m-b font-thin">新建计划</h3>
        <form role="form">
            <div class="form-group">
                <label>计划类型</label>
                <select name="" id="" class="form-control">
                    <option value="">桥梁</option>
                    <option value="">人行通道</option>
                    <option value="">隧道</option>
                    <option value="">道路</option>
                </select>
            </div>
            <div class="form-group">
                <label>计划类型名称</label>
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>计划名称</label>
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>执行频率</label>
                <select name="" id="" class="form-control">
                    <option value="">以年为周期</option>
                    <option value="">指点时间范围</option>
                </select>
            </div>
            <div class="form-group">
                <label>	次数</label>
                <input type="text"  placeholder="" class="form-control">
            </div>
            <div class="form-group">
                <label>	养护单位</label>
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>审核单位</label>
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class=" form-group" style="height:30px;">
                <button class="btn btn-default pull-right " ng-click="cancel()">重置</button>
                <button class="btn btn-primary pull-right publicpage_mgR10" ng-click="ok()">保存</button>
            </div>
        </form>
    </div>
</div>