<h4 style="background-color: #edf6fd;color:#4476cf;padding:10px;margin:0">{{title}}</h4>
<div class="panel-body">
    <form class="bs-example form-horizontal ng-pristine ng-valid">
        <div class="form-group">
            <label class="col-lg-2 control-label">选择视频
            </label>
            <div class="col-lg-8">
                <input type="file" id="file2" name="file">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn cancelBtn pull-right " ng-click="cancel()">取消</button>
                <button class="btn confirmBtn pull-right publicpage_mgR10" ng-click="saveImage()">保存</button>
            </div>
        </div>
    </form>
</div>