<style>
    .table-bigdata > thead {
        border-top: 1px solid #b6b6c3;
        border-bottom: 1px solid #b6b6c3;
    }

    .table-bigdata > thead > tr {
        font-weight: normal;
    }

    .table-bigdata > thead > tr > th {
        border: 1px solid #b6b6c3;
    }

    .table-bigdata > tbody > tr > td {
        border: 1px solid #b6b6c3;
    }


</style>
<div class="wrapper">
    <div style="border-bottom: 1px solid #b2c6e6;height:40px;">
        <span style="font-size:18px;">设施病害对比养护资金分析</span>
        <span class="pubicpage_fs publicIcon  pull-right" style="cursor: pointer" ng-click="cancel()"><button
                class="btn btn-primary" ng-click="cancel()" style="float:right;">关闭</button> </span>
    </div>
    <div style="height:400px;">
        <div style="margin-top:10px;">
            <span>养护公司：</span>
            <select class="input-sm form-control w-sm inline v-middle" style="width:100px;" ng-model="ssBranch">
                <option value="{{ubranch_id}}">全部</option>
                <option ng-repeat="b in curingData" value="{{b.id}}">{{b.branch}}</option>
            </select>
            <span>排名方式：</span>
            <select class="input-sm form-control w-sm inline v-middle" style="width:100px;" ng-model="ssArrange">
                <option value="0">按病害数量</option>
                <option value="1">按资金使用</option>
            </select>
            <span>年份：</span>
            <select class="input-sm form-control w-sm inline v-middle" style="width:100px;" ng-model="sSYearD">
                <option value='{{year}}' ng-selected="true">{{year}}年</option>
                <option value='{{year-1}}'>{{year-1}}年</option>
                <option value='{{year-2}}'>{{year-2}}年</option>
            </select>
            <button class="btn btn-sm btn-default" ng-click="ssSearch(ssBranch,ssArrange,sSYearD)">查询</button>
        </div>
        <div line-charts options="optionSsXq" style="width: 1268px;height:100%;"></div>
    </div>
    <div style="margin-top:20px">
        <table class="table table-bigdata m-b-none">
            <thead>
            <tr>
                <th rowspan="2" style="text-align: center">排名序号</th>
                <th rowspan="2" style="text-align: center">设施名称</th>
                <th rowspan="2" style="text-align: center">养护公司</th>
                <th colspan="2" style="text-align: center">车行道</th>
                <th colspan="2" style="text-align: center">人行道</th>
                <th colspan="2" style="text-align: center">附属设施</th>
                <th colspan="2" style="text-align: center">结构</th>
                <th colspan="2" style="text-align: center">小计</th>

            </tr>
            <tr >
                <th style="text-align: center">病害数</th>
                <th style="text-align: center">养护资金</th>
                <th style="text-align: center">病害数</th>
                <th style="text-align: center">养护资金</th>
                <th style="text-align: center">病害数</th>
                <th style="text-align: center">养护资金</th>
                <th style="text-align: center">病害数</th>
                <th style="text-align: center">养护资金</th>
                <th style="text-align: center">病害数</th>
                <th style="text-align: center">养护资金</th>
            </tr>
            </thead>
            <tbody>
            <tr style="text-align: center" ng-repeat="x in ssTable">
                <td>
                    {{$index+1}}
                </td>
                <td>
                    {{x.name}}
                </td>
                <td>
                    {{x.branch}}
                </td>
                <td>
                    {{x.car.dis}}
                </td>
                <td>
                    {{x.car.price}}
                </td>
                <td>
                    {{x.passway.dis}}
                </td>
                <td>
                    {{x.passway.price}}
                </td>
                <td>
                    {{x.attachment.dis}}
                </td>
                <td>
                    {{x.attachment.price}}
                </td>
                <td>
                    {{x.structure.dis}}
                </td>
                <td>
                    {{x.structure.price}}
                </td>
                <td>
                    {{x.number}}
                </td>
                <td>
                    {{x.price}}

                </td>
            </tr>
            </tbody>
        </table>
        <!--<div pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" first-text="第一页"-->
             <!--next-text=">" previous-text="<" last-text="最后页" num-pages="totalPage" boundary-links="true"-->
             <!--items-per-page="itemsPerPage" ng-change="changePage()" style="margin-left:40%;margin-top:20px;">-->
        <!--</div>-->
    </div>
</div>
