<form action="" class=" ng-pristine ng-valid clearfix" role="form">
	<div class="form-group col-sm-4">
		<label for="">构件类型</label>
		<input type="text" class="form-control" ng-model="BridgeNum">
	</div>
	<div class="form-group col-sm-4">
		<label for="">所属结构</label>
		<input type="text" class="form-control" ng-model="BridgeName">
	</div>
	<div class="form-group col-sm-4">
		<label for="">构件类型名称</label>
		<input type="text" class="form-control" ng-model="MainStructType">
	</div>
	<div class="form-group col-sm-4">
		<label for="">管理属性</label>
		<input type="text" class="form-control" ng-model="FunctionType">
	</div>

</form>