<form action="" class=" ng-pristine ng-valid clearfix" role="form">
	<div class="form-group col-sm-4">
		<label for="">设施类型</label>
		<input type="text" class="form-control" ng-model="BridgeNum">
	</div>
	<div class="form-group col-sm-4">
		<label for="">设施编号</label>
		<input type="text" class="form-control" ng-model="BridgeNum">
	</div>
	<div class="form-group col-sm-4">
		<label for="">设施名称</label>
		<input type="text" class="form-control" ng-model="MainStructType">
	</div>
	<div class="form-group col-sm-4">
		<label for="">病害名称</label>
		<input type="text" class="form-control" ng-model="FunctionType">
	</div>
	<div class="form-group col-sm-4">
		<label for="">审核状态</label>
		<input type="text" class="form-control" ng-model="CuringGrade">
	</div>
	<div class="form-group col-sm-4">
		<label for="">验收状态</label>
		<input type="text" class="form-control" ng-model="CuringType">
	</div>
</form>