<form action="" class=" ng-pristine ng-valid clearfix" role="form">
	<div class="form-group col-sm-4">
		<label for="">设施类型</label>
		<input type="text" class="form-control" ng-model="BridgeNum">
	</div>
	<div class="form-group col-sm-4">
		<label for="">设施名称</label>
		<input type="text" class="form-control" ng-model="BridgeName">
	</div>
	<div class="form-group col-sm-4">
		<label for="">线路名称</label>
		<input type="text" class="form-control" ng-model="MainStructType">
	</div>
	<div class="form-group col-sm-4">
		<label for="">检测单位</label>
		<input type="text" class="form-control" ng-model="FunctionType">
	</div>
	<div class="form-group col-sm-4">
		<label for="">主检人</label>
		<input type="text" class="form-control" ng-model="BridgeArea">
	</div>
	<div class="form-group col-sm-4">
		<label for="">检测日期</label>
		<input type="text" class="form-control" ng-model="CuringType">
	</div>
</form>