<div class="modal-header">
    <i class="fa fa-file-o"> <span>胜利路桥结构性能检测</span></i>
</div>
<div class="panel-body" style="max-height: 490px;overflow: auto;">
    <div>
        <form role="form" class="bs-example form-horizontal ng-pristine ng-valid">
            <fieldset>
                <legend>检测构件</legend>
                <!-- <div class="form-group">
                    <label class="control-label col-sm-3 text-right">设施类型<span
                            style="color:red;vertical-align: middle;">*</span></label>
                    <div class="col-sm-6">
                        <select name="" id="" class="form-control" ng-model="Facility_type">
                            <option value="0">桥梁</option>
                            <option value="1">人行通道</option>
                        </select>

                    </div>

                </div>
                <div class="form-group" ng-show="Facility_type=='0'">
                    <label class="control-label col-sm-3 text-right">桥梁<span
                            style="color:red;vertical-align: middle;">*</span></label>
                    <div class="col-sm-6">
                        <select name="" id="" class="form-control" ng-model="bridgename">
                            <option ng-repeat="x in bridgeInfo"  value={{x.BridgeName}} ng-selected={{x.select}}>{{x.BridgeName}}</option>
                        </select>

                    </div>

                </div>
                <div class="form-group" ng-show="Facility_type=='1'">
                    <label class="control-label col-sm-3 text-right">人行通道<span
                            style="color:red;vertical-align: middle;">*</span></label>
                    <div class="col-sm-6">
                        <select name="" id="" class="form-control" ng-model="PassagewayName">
                            <option ng-repeat="x in passageInfo"  value={{x.PassagewayName}} ng-selected={{x.select}}>{{x.PassagewayName}}</option>
                        </select>
                    </div>

                </div> -->

                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">构件<span
                            style="color:red;vertical-align: middle;">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="reinforced_concrete[0].component">
                    </div>

                </div>
            </fieldset>
            <fieldset>
                <legend>混凝土钢筋分布及保护层厚度记录</legend>
                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">钢筋种类</label>
                    <div class="col-sm-6">
                        <select name="" id="" class="form-control" ng-model="reinforced_concrete[0].type">
                            <option value="0">主筋</option>
                            <option value="1">箍筋</option>
                        </select>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">公称直径(mm)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="reinforced_concrete[0].diameter">
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">钢筋间距(mm)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="reinforced_concrete[0].steel_min">
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">钢筋间距(mm)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="reinforced_concrete[0].steel_max">
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">钢筋间距(mm)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="reinforced_concrete[0].steel_avg">
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">钢筋间距设计值(mm)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="reinforced_concrete[0].steel_set_up">
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">保护层厚度最小值(mm)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="reinforced_concrete[0].protect_min">
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">保护层厚度最大值(mm)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="reinforced_concrete[0].protect_max">
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">保护层厚度平均值(mm)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="reinforced_concrete[0].protect_avg">
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">保护层厚度设计值(mm)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="reinforced_concrete[0].protect_set_up">
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">保护层厚度特征值(mm)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="reinforced_concrete[0].protect_Features">
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">保护层厚度评定(mm)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="reinforced_concrete[0].protect_evaluate">
                    </div>

                </div>
            </fieldset>
            <fieldset>
                <legend>碳化深度记录表</legend>

                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">碳化深度实测平均值(mm)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="carbonization[0].avg">
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">碳化深度评定</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="carbonization[0].evaluate">
                    </div>

                </div>
            </fieldset>


            <fieldset>
                <legend>混凝土强度记录表</legend>

                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">混凝土强度检测方法</label>
                    <div class="col-sm-6">
                        <select name="" id="" class="form-control" ng-model="concrete_strength[0].test_method">
                            <option value="0">回弹法</option>
                            <option value="1">超声回弹综合法</option>
                            <option value="2">取芯法</option>
                            <option value="3">回弹结合取芯法</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">强度推定値(mpa)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="concrete_strength[0].Strength">
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">设计值(mpa)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="concrete_strength[0].Design">
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">混凝土评定</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="concrete_strength[0].evaluate">
                    </div>

                </div>
            </fieldset>

            <fieldset>
                <legend>氯离子含量记录表</legend>

                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">氯离子含量最大值(%)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="chloride_ion[0].max">
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">氯离子含量最小值(%)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="chloride_ion[0].min">
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">混凝土评定</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="chloride_ion[0].evaluate">
                    </div>

                </div>
            </fieldset>

            <fieldset>
                <legend>混凝土电阻率记录表</legend>

                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">混凝土电阻率最大值(cm)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="resistivity[0].max">
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">混凝土电阻率最小值(cm)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="resistivity[0].min">
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">混凝土电阻率评定</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="resistivity[0].evaluate">
                    </div>

                </div>
            </fieldset>

            <fieldset>
                <legend>钢筋锈蚀电位记录表</legend>

                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">钢筋锈蚀电位最大值(mv)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="potential[0].max">
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">钢筋锈蚀电位最小值(mv)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="potential[0].min">
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3 text-right">钢筋锈蚀电位评定</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="" ng-model="potential[0].evaluate">
                    </div>

                </div>
            </fieldset>


        </form>
    </div>
</div>
<div class="modal-footer">
    <div class=" form-group" style="height:30px;">
        <button class="btn btn-default pull-right " ng-click="cancel()">取消</button>
        <button class="btn btn-primary pull-right publicpage_mgR10" ng-click="addSaveStruct()">保存</button>
    </div>
</div>