<div ng-controller="echeckMemo_controller">
    <script type="text/ng-template" id="myModalContent.html">
		<div ng-include="'tpl/modal/passageassModal.html'" ></div>
	</script>
	<div class="bg-light lter b-b wrapper-md">
		<form class="form-inline ng-pristine ng-valid" role="form">
			<div class="form-group">
				<label for="exampleInputPassword"> 主题：</label>
				<input type="text" class="form-control" id="exampleInputPassword" ng-model="componentName" ng-required="true">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword2">提醒时间：</label>
				<input ng-model="time.start"
					   id="exampleInputPassword2"
					   class="Wdate mainbg form-control  "
					   onclick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2015-1-1 00:00:00',maxDate:'2025-12-31 23:59:59',onpicked: function(){$(this).trigger('change')}})"
					   ng-required="true" onChange="">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword3">至</label>
				<input ng-model="time.end"
					   id="exampleInputPassword3"
					   class="Wdate mainbg form-control  "
					   onclick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2015-1-1 00:00:00',maxDate:'2025-12-31 23:59:59',onpicked: function(){$(this).trigger('change')}})"
					   ng-required="true" onChange="">
			</div>
			<button class="btn btn-success" style="border-radius: 4px;" ng-click="">
				<span class="glyphicon glyphicon-search">查询</span>
			</button>
         <button class="btn btn-danger" style="border-radius: 4px;" ng-click="componentUpdate(items)">
				<span class="glyphicon glyphicon-search">添加备忘录</span>
			</button>
		</form>

	</div>
	<div class="wrapper-md">
		<div class="panel panel-default ">
			<div>
				<table class="table table-bordered table-striped m-b-none" >
					<thead>
					<tr>
						<th style="width:12%;text-align:center;">
							主题
						</th>
						<th style="width:18%;text-align:center;">
							内容
						</th>
						<th style="width:10%;text-align:center;">
							提醒时间
						</th>
						<th style="width:10%;text-align:center;">
							查看
                        </th>
                        <th style="width:10%;text-align:center;">
							修改
						</th>
                        <th style="width:10%;text-align:center;">
							删除
						</th>


					</tr>
					</thead>
					<tbody>

					<tr ng-repeat=" item in memoData ">
						<td style="text-align:center;">{{item.title}}</td>
						<td style="text-align:center;">{{item.content}}</td>
						<td style="text-align:center;">{{item.date}}</td>
                        <td ng-click="notice(item)" style="text-align: center;">
							<a href="" class="redLook" title="查看"><i class="glyphicon glyphicon-hand-up"></i></a>
                        </td>
                        <td>
							<a href="javascript:void(0);" style="color:#337ab7;" ng-click="notice(item)"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>
                        <td  ng-click="notice(items)">
							
							<a href="" class="greenLook"><i class="glyphicon glyphicon-remove-sign"></i></a>
						</td>
					<!-- 	<td  ng-click="componentRemove($index)">
							
							<a href="" class="greenLook"><i class="glyphicon glyphicon-remove-sign"></i></a>
						</td> -->
					</tr>

					</tbody>
				</table>
			</div>
			<footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-4 text-left">
                        <small class="text-muted inline m-t-sm m-b-sm">显示1-3条，共3条</small>
                    </div>
                    <div class="col-sm-4 text-center">
                        <ul class="pagination pagination-sm m-t-none m-b-none">
                            <li><a href><i class="fa fa-chevron-left"></i></a></li>
                            <li><a href>1</a></li>
                            <li><a href>2</a></li>
                            <li><a href>3</a></li>
                            <li><a href>4</a></li>
                            <li><a href>5</a></li>
                            <li><a href><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
		</div>
	</div>
 </div>