<div ng-controller="managePatrolAssessCtrl">
    <div class="wrapper-md">
        <div ng-include="'tpl/modal/breadcrumbTpl.html'"></div>
        <div class="publicBgWhite publicBdLan pulicpage_pd20">
            <div class="pulicpage_pdB20">
                <form class="form-inline ng-pristine ng-valid" role="form">
                    <div class="form-group">
                        <label> 设施名称：</label>
                        <input type="text" class="form-control" placeholder="" ng-model="name">
                    </div>
                    <div class="form-group">
                        <label >时间：</label>
                        <input ng-model="start" class="Wdate mainbg form-control  "
                               onclick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM',minDate:'2015-1',maxDate:'2025-12',onpicked: function(){$(this).trigger('change')}})"
                               onChange="">
                    </div>
                    <!-- <div class="form-group">
                        <label >结束时间：</label>
                        <input ng-model="end" class="Wdate mainbg form-control  "
                               onclick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2015-1-1 00:00:00',maxDate:'2025-12-31 23:59:59',onpicked: function(){$(this).trigger('change')}})"
                               onChange="">
                    </div> -->
                    <div class="form-group">
                        <label>巡查公司：</label>
                        <input type="text" class="form-control" placeholder="" ng-model="unit">
                    </div>
                    <button class="btn searchBtn" ng-click="search()">查询</button>
                    <button class="btn searchBtn" ng-click="load()" ng-show="false">导出文件</button>
                </form>
            </div>
            <div>
                <table class="table table-striped m-b-none publicBdLan publicBgWhite" id="gridPanel">
                    <thead>
                    <tr>
                        <th>
                            时间
                        </th>
                        <th>
                            设施名称
                        </th>
                        <th>
                            巡查单位
                        </th>
                        <th>
                            应巡查次数
                        </th>
                        <th>
                            已巡查次数
                        </th>

                        <th>
                            巡查员
                        </th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat=" item in patrolInfoNow ">
                        <td>{{item.A_Signin_date}}</td>
                        <td>{{item.facilitiesname}}</td>
                        <td>{{item.branch}}</td>
                        <td>{{item.Patrol_num}}</td>
                        <td>{{item.count}}</td>
                        <td>{{item.Inspecting_Officer}}</td>
                    </tr>

                    </tbody>
                </table>
                <div pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" first-text="第一页"
                     next-text=">" previous-text="<" last-text="最后页" num-pages="totalPage" boundary-links="true"
                     items-per-page="itemsPerPage" ng-change="changePage()" style="margin-left:40%;margin-top:20px;">
                </div>
            </div>
        </div>
    </div>
</div>
