<div ng-controller="manageBridgePassageway_controller ">
    <script type="text/ng-template" id="addPassageway.html">
        <div ng-include="'tpl/modal/addPassageway.html'"></div>
    </script>
    <script type="text/ng-template" id="myModalContent.html">
        <div ng-include="'tpl/modal/bridgeInfo.html'"></div>
        <div ng-show="showMapPop" >
                <div id="myModal" class="modal" style="position: absolute;display: block;width:80%;margin:0 auto;" tabindex="-1" role="dialog"
                     aria-labelledby="myModal" aria-hidden="true">
                    <div class="modal-body" style="position: relative;">
                        <div style="width:40px;height:40px;float:right;color:white;font-size: 16px; z-index: 999;cursor: pointer;" ng-click="off()">关闭</div>
                        <div style='width:800px;height:500px;top:100px;margin:0 auto' id='allmap'></div>
                    </div>
                </div>
                <div class="modal-backdrop fade in" style="height:802px;"></div>
            </div>
    </script>
    <script type="text/ng-template" id="addComponent.html">
        <div ng-include="'tpl/modal/addComponent.html'"></div>
    </script>
    <script type="text/ng-template" id="updataComponent.html">
        <div ng-include="'tpl/modal/updataComponent.html'"></div>
    </script>
    <script type="text/ng-template" id="addHistory.html">
        <div ng-include="'tpl/modal/addHistory.html'"></div>
    </script>
    <script type="text/ng-template" id="addDocument.html">
        <div ng-include="'tpl/modal/addPassageDocument.html'"></div>
    </script>
    <script type="text/ng-template" id="addImage.html">
        <div ng-include="'tpl/modal/addImage.html'"></div>
    </script>
    <script type="text/ng-template" id="addVideo.html">
        <div ng-include="'tpl/modal/addVideo.html'"></div>
    </script>
    <div class="wrapper-md">
        <div ng-include="'tpl/modal/breadcrumbTpl.html'"></div>
        <div class="publicBgWhite publicBdLan pulicpage_pd20">
            <div class="pulicpage_pdB20">
                <form class="form-inline ng-pristine ng-valid" role="form">
                    <div class="form-group">
                        <label> 通道名称：</label>
                        <input type="text" class="form-control" placeholder="" ng-model="passagename">
                    </div>
                    <div class="form-group">
                        <label>通道编号: </label>
                        <input type="text" class="form-control" placeholder="" ng-model="passagenum">
                    </div>
                    <button class="btn searchBtn" ng-click="search()">查询</button>
                    <button type="button" class="btn newBtn publicpage_ml20 " ng-show="app.globalInfo.manageType"
                        ng-click="addPassageway()">新建通道
                    </button>
                </form>
            </div>
            <div>
                <table class="table table-striped m-b-none publicBdLan publicBgWhite">
                    <thead>
                        <tr>
                            <th>
                                通道编号
                            </th>
                            <th>
                                通道名称
                            </th>
                            <th>
                                总长
                            </th>
                            <th>
                                净宽
                            </th>
                            <th>
                                净高
                            </th>

                            <th>
                                管理单位
                            </th>
                            <th class="pull-right">
                                操作
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat=" item in passagewayInfoNow">
                            <td>{{item.PassagewayNum}}</td>
                            <td>{{item.PassagewayName}}</td>
                            <td>{{item.Length}}</td>
                            <td>{{item.Width}}</td>
                            <td>{{item.High}}</td>
                            <td>{{item.ManageUnit}}</td>
                            <td class="pull-right ">
                                <span class="publicpage_mgR10 pubicpage_fs cursorPoin publicIcon"
                                    ng-click="clickPassageway (item)"><i class="icon-eye publicpage_mgT10 "></i></span>
                                <span class="publicpage_mgL10 pubicpage_fs publicIcon"
                                    ng-show="app.globalInfo.manageType" ng-click="remove(item)"><i
                                        class="fa fa-trash-o"></i></span>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" first-text="第一页"
                    next-text=">" previous-text="<" last-text="最后页" num-pages="totalPage" boundary-links="true"
                    items-per-page="itemsPerPage" ng-change="changePage()" style="margin-left:40%;margin-top:20px;">
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="bg-light lter b-b wrapper-md">
            <form class="form-inline ng-pristine ng-valid" role="form">
                <div class="form-group">
                    <label for="exampleInputEmail2">通道名称：</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword2">所属区域：</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="">
                </div>
                <div class="form-group">
                    <label>城镇：</label>
                    <select class="form-control  inline">
                        <option value="0">梁桥</option>
                        <option value="1">桁架桥</option>

                    </select>
                </div>
                <button class="btn btn-success">查询</button>
                <button type="button" class="btn btn-sm btn-default pull-right"><i class="fa fa-plus fa-fw m-r-xs"></i>新建通道</button>
            </form>

        </div>
        <div class="wrapper-md">
                <div>
                    <table class="table table-striped m-b-none">
                        <thead>
                            <tr>
                                <th >
                                    通道编号
                                </th>
                                <th >
                                    通道名称
                                </th>
                                <th >
                                    总长
                                </th>
                                <th >
                                    净宽
                                </th>
                                <th >
                                    净高
                                </th>

                                <th >
                                    管理单位
                                </th>
                                <th >
                                    查看
                                </th>
                                <th >
                                    删除
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat=" item in passagewayInfo">
                                <td>{{item.PassagewayNum}}</td>
                                <td>{{item.PassagewayName}}</td>
                                <td>{{item.Length}}</td>
                                <td>{{item.Width}}</td>
                                <td>{{item.High}}</td>
                                <td>{{item.ManageUnit}}</td>
                                <td  ng-click="clickPassageway ($index)"><a href="" class="redLook"><i class="glyphicon glyphicon-hand-up"></i></a></td>
                                <td ng-click="remove($index)"><a href="" class="greenLook"><i class="glyphicon glyphicon-remove-sign"></i></a></td>
                            </tr>

                        </tbody>

                    </table>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-4 text-left">
                                <small class="text-muted inline m-t-sm m-b-sm">显示1-3条，共3条</small>
                            </div>
                            <div class="col-sm-4 text-center">
                                <ul class="pagination pagination-sm m-t-none m-b-none">
                                    <li><a href><i class="fa fa-chevron-left"></i></a></li>
                                    <li><a href>1</a></li>
                                    <li><a href>2</a></li>
                                    <li><a href>3</a></li>
                                    <li><a href>4</a></li>
                                    <li><a href>5</a></li>
                                    <li><a href><i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </footer>
                </div>

        </div>-->
</div>