<div ng-controller="manageBridgePatrol_controller ">
    <script type="text/ng-template" id="showJournal.html">
        <div ng-include="'tpl/modal/showJournal.html'"></div>
    </script>
    <div class="wrapper-md">
        <div ng-include="'tpl/modal/breadcrumbTpl.html'"></div>
        <div class="publicBgWhite publicBdLan pulicpage_pd20">
            <div class="pulicpage_pdB20">
                <form class="form-inline ng-pristine ng-valid" role="form">
                    <div class="form-group">
                        <label> 桥梁编号：</label>
                        <input type="text" class="form-control" placeholder="" ng-model="number">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">时间：</label>
                        <input ng-model="start" class="Wdate mainbg form-control  "
                            onclick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM',minDate:'2015-1',maxDate:'2025-12',onpicked: function(){$(this).trigger('change')}})"
                            onChange="">
                    </div>
                    <!-- <div class="form-group">
                        <label for="exampleInputPassword2">结束时间：</label>
                        <input ng-model="end" class="Wdate mainbg form-control  "
                            onclick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2015-1-1 00:00:00',maxDate:'2025-12-31 23:59:59',onpicked: function(){$(this).trigger('change')}})"
                            onChange="">
                    </div> -->
                    <div class="form-group">
                        <label>巡查公司：</label>
                        <input type="text" class="form-control" placeholder="" ng-model="patrol">
                    </div>
                    <button class="btn searchBtn" ng-click="search()">查询</button>
                </form>
            </div>
            <div>
                <table class="table table-striped m-b-none publicBdLan publicBgWhite">
                    <thead>
                        <tr>
                            <th>
                                设施编号
                            </th>
                            <th>
                                设施名称
                            </th>
                            <th>
                                时间
                            </th>
                           
                            <th>
                                应巡查次数
                            </th>
                            <th>
                                已巡查次数
                            </th>

                            <th>
                                巡查单位
                            </th>
                            <th>
                                巡查员
                            </th>
                            <!-- <th class="pull-right">
                                查看日志
                            </th> -->

                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat=" item in patrolInfoNow ">
                            <td>{{item.facilitiesnum}}</td>
                            <td>{{item.facilitiesname}}</td>
                            <td>{{item.A_Signin_date}}</td>
                            <td>{{item.Patrol_num}}</td>
                            <td>{{item.count}}</td>
                            <td>{{item.branch}}</td>
                            <td>{{item.Inspecting_Officer}}</td>
                           <!--  <td>
                                <button class="btn stateBtn pull-right" ng-click="showJournal(item)">查看日志</button>
                            </td> -->
                        </tr>

                    </tbody>
                </table>
                <div pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" first-text="第一页"
                    next-text=">" previous-text="<" last-text="最后页" num-pages="totalPage" boundary-links="true"
                    items-per-page="itemsPerPage" ng-change="changePage()" style="margin-left:40%;margin-top:20px;">
                </div>
            </div>
        </div>
    </div>
</div>